{% extends 'base.html' %}
{% block body %}

  <div class="col">
    <div class="row">
      <h4 class="text-center mt-4 pt-5"><b>Task completed successfully - {{user.username}}</b></h4>
      {% for i in q %}
        <div class="card" style="width: 500px;">
            <div class="row no-gutters">
                <div class="col-sm-5">
                    <img class="card-img" src="{{i.screenshot.url}}" alt="">
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        <h5 class="card-title">{{i.app_model.app_name}}</h5>
                        <a href="#" class="btn btn-primary">{{i.app_model.point}} Points </a>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
      {% endfor %}
    </div>
  </div>

{% endblock body %}